{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

{% if user_id == current_user.user_id or adm == True %}
    <div class="card border-dark mb-3">
        <div class="card-body text-dark">
            <h1>Обновите информацию</h1><br/>
            <form action="/update_teacher/{{ user_to_update.user_id }}" method="POST">
                {{ form.hidden_tag() }}
                {% for field, errors in form.errors.items() %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {{ form.name(class="form-control", value=user_to_update.name, placeholder='Имя и фамилия') }}<br/>
                {{ form.login(class="form-control", value=user_to_update.login, placeholder='Логин') }}<br/>
                {{ form.mail(class="form-control", value=user_to_update.mail, placeholder='Электронная почта') }}<br/>
                <button class="btn btn-outline-dark" type="submit">Обновить информацию</button>
            </form>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Вы не можете редактировать этого пользователя
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{% endblock %}